 {{pipe|uppercase}}            <!-- uppercae and lowercase use  -->
{{num|number:'6.3-4'}}   <br><br>   <!--  x.y-z y     yminium oda zathigama irrukanum   -->
{{num1|percent}} <br><br>
{{dat}}<br><br>
{{dat|date}}<br><br>
{{dat|date:'short'}}<br><br>
{{dat|date:'medium'}}<br><br>
{{dat|date:'long'}}<br><br>
{{dat|date:'full'}}
 <h3>DATE</h3>
{{dat|date:'shortDate'}}<br><br>
{{dat|date:'mediumDate'}}<br><br>
{{dat|date:'longDate'}}<br><br>
{{dat|date:'fullDate'}}<br><br>
<h3>TIME</h3>
{{dat|date:'shortTime'}}<br><br>
{{dat|date:'mediumTime'}}<br><br>
{{dat|date:'longTime'}}<br><br>
{{dat|date:'fullTime'}}<br><br>
<h4>Date&Time&Year</h4>
{{dat|date:'d/M/y'}}<br><br>
{{dat|date:'dd/MM/yy'}}<br><br>
{{dat|date:'dd/MM/YY'}}<br><br>
{{dat|date:'d/M/y/h;m;s'}}<br><br>

{{person1|json}}<br><br>

{{1200|currency:'INR'}}<br><br>

{{pip|pipes:'lorem35'}}<br><br>


<div>
<p>
    {{shot|pipes}}  
</p>
</div>

<input type="button" value="change"(click)='changing()'><br><br>
{{sharedService.servi}}














<p>pipes works!</p>
