input
{
    color:red;
}
.realme
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: royalblue;

}
.redmi
{
    background-color: rgb(238, 81, 199);
}





#navbar .nav-link{
color: #28a745;
}
.bg-light {
    background-color: rgb(13 27 52 / 94%) !important;
}
.dropdown-item{
    color:#af2a89c4;
}
.navbar-brand{
    color: beige;
    font-style: oblique;
    font-size: 20px;
}